<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS SETUP</title>
    <style>
        body{
            background-color:black ;
            color: white; 
        }
    </style>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    
    <h1>We are learning EJS  <%= name %> </h1>
    <ul>
        <li> 
            get a nice deal in <%=products[0].title %> price of it is  : <%=products[0].price %>
            

        </li>
    </ul>

</body>
</html>